@import "src/utils/mixins";

.container {
  @include page-container;
}

.post {
  max-width: 800px;

  &Title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &Content {
    font-size: 18px;
    line-height: 24px;
  }

}

.comments {
  margin-top: 100px;
  padding-top: 25px;
  border-top: 1px solid var(--text-color);

  &Title {
    font-size: 21px;
    margin-bottom: 50px;
  }
}

.backBtn {
  max-width: 45px;
  position: absolute;
  top: 95px;
  left: 32px;
}